{% extends "base.html" %}

{% load static %}

{% block Title %}
	ACT-LogIn
{% endblock Title %}

{% block contents %}
<img src="../../static/img/login.jpg" class="maps">
<div class="dark"></div>

    <h2>Login</h2>
    <form method="post">
        {% csrf_token %}
        <div class="login">
            <p>Username:</p>
            {{form.username}}
            <p>Password:</p>
            {{form.password}}
        </div>
        <button type="submit" id="login-btn" class="send-btn">Login</button>
    </form>


{% endblock contents %}

