{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>
		{% block Title %}
			
		{% endblock Title %}
	</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="{% static 'css/mobile.css' %}">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>

	<div class="page" style="margin-top:100px">
		<h1>
		{% block pageTitle %}
			
		{% endblock pageTitle %}
		</h1>
	</div>
	
	<div class="content">
		{% block contents %}
		
		{% endblock contents %}	
	</div>	
</body>
</html>